{% extends "base.html" %}
{% block content %}

<div class="px-3 pb-md-2 mx-auto">
    <h4 class="display-4">Tutkijan tiedot</h4>
    <p class="lead pt-3">
        Hei {{ request.user.first_name }} {{ request.user.last_name }}.<br>
        Luo itsellesi profiili Tutkimustietovarantoon.
    </p>

    <hr>

    <form method="POST">
        {% csrf_token %}

        {% for field in permission_form %}
        <div class="fieldWrapper">
            {{ field.errors }}
        </div>
        {% endfor %}

        <input type="hidden" name="settings_form_type" value="orcid_permission">
        <div class="row">
            <div class="col">
                {{ permission_form.read_all_orcid.label }}
            </div>
            <div class="col col-sm-1">
                <input type="checkbox" onclick="permissionToggle('orcid')" class="form-check-input" id="{{ permission_form.read_all_orcid.id_for_label }}" name="{{ permission_form.read_all_orcid.name }}" {% if permission_form.read_all_orcid.value %}checked{% endif %}>
            </div>
            <div class="col col-sm-2">
                <input type="number" min="1" max="3"
                {% if not permission_form.read_all_orcid.value %}style="visibility:hidden"{% endif %}
                class="form-control" id="{{ permission_form.priority_orcid.id_for_label }}" name="{{ permission_form.priority_orcid.name }}" value="{{ permission_form.priority_orcid.value }}">
            </div>
        </div>

        <div class="row">
            <div class="col">
                {{ permission_form.read_all_org1.label }}
            </div>
            <div class="col col-sm-1">
                <input type="checkbox" onclick="permissionToggle('org1')" class="form-check-input" id="{{ permission_form.read_all_org1.id_for_label }}" name="{{ permission_form.read_all_org1.name }}" {% if permission_form.read_all_org1.value %}checked{% endif %}>
            </div>
            <div class="col col-sm-2">
                <input type="number" min="1" max="3"
                {% if not permission_form.read_all_org1.value %}style="visibility:hidden"{% endif %}
                class="form-control" id="{{ permission_form.priority_org1.id_for_label }}" name="{{ permission_form.priority_org1.name }}" value="{{ permission_form.priority_org1.value }}">
            </div>
        </div>

        <div class="row">
            <div class="col">
                {{ permission_form.read_all_org2.label }}
            </div>
            <div class="col col-sm-1">
                <input type="checkbox" onclick="permissionToggle('org2')" class="form-check-input" id="{{ permission_form.read_all_org2.id_for_label }}" name="{{ permission_form.read_all_org2.name }}" {% if permission_form.read_all_org2.value %}checked{% endif %}>
            </div>
            <div class="col col-sm-2">
                <input type="number" min="1" max="3"
                {% if not permission_form.read_all_org2.value %}style="visibility:hidden"{% endif %}
                class="form-control" id="{{ permission_form.priority_org2.id_for_label }}" name="{{ permission_form.priority_org2.name }}" value="{{ permission_form.priority_org2.value }}">
            </div>
        </div>
        <button id="createProfileBtn" type="submit" class="btn btn-primary" onclick="busyIndicatorShow();">Luo profiili</button>
    </form>
    <script type="text/javascript">
        var toggleOrcid = $("#{{ permission_form.read_all_orcid.id_for_label }}");
        var toggleOrg1 = $("#{{ permission_form.read_all_org1.id_for_label }}");
        var toggleOrg2 = $("#{{ permission_form.read_all_org2.id_for_label }}");
        var prioOrcid = $("#{{ permission_form.priority_orcid.id_for_label }}");
        var prioOrg1 = $("#{{ permission_form.priority_org1.id_for_label }}");
        var prioOrg2 = $("#{{ permission_form.priority_org2.id_for_label }}");
        function permissionToggle(source) {
            if (source === 'orcid') {
                if (toggleOrcid.prop('checked')) {
                    prioOrcid.css("visibility","visible");
                } else {
                    prioOrcid.css("visibility","hidden");
                }
            }
            if (source === 'org1') {
                if (toggleOrg1.prop('checked')) {
                    prioOrg1.css("visibility","visible");
                } else {
                    prioOrg1.css("visibility","hidden");
                }
            }
            if (source === 'org2') {
                if (toggleOrg2.prop('checked')) {
                    prioOrg2.css("visibility","visible");
                } else {
                    prioOrg2.css("visibility","hidden");
                }
            }
        }
    </script>
</div>
{% endblock content %}