{% extends "base.html" %}
{% block content %}

<div class="px-3 pb-md-2 mx-auto text-center">
    <h4 class="display-4">Tutkijan tiedot</h4>
    <p class="lead pt-3">
        Hei {{ request.user.first_name }} {{ request.user.last_name }}.<br>
        Luo itsellesi profiili Tutkimustietovarantoon.
    </p>

    <hr>

    <form method="POST">
        {% csrf_token %}
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="{{ permission_form.read_all.id_for_label }}" name="{{ permission_form.read_all.name }}">
            <label class="form-check-label" for="{{ permission_form.read_all.id_for_label }}">{{ permission_form.read_all.label }}</label>
        </div>
        <br>
        <button id="createProfileBtn" type="submit" class="btn btn-primary">Luo profiili</button>
    </form>
</div>
{% endblock content %}