{% extends "base.html" %}
{% load static %}
{% block content %}
{% if not user.is_authenticated %}

<!-- ORCID sign in-->

<div class="row mt-3">
    <div class="col">

        <div class="alert alert-primary" role="alert">
            Tutkimustietovarannon ORCID-integraation testisovellus.
        </div>

        <a href="{% url 'social:begin' 'orcid' %}?next={{ request.path }}">
            <button id="connect-orcid-button">
                <img id="orcid-id-icon"
                    src="https://orcid.org/sites/default/files/images/orcid_24x24.png"
                    width="24"
                    height="24"
                    alt="Kirjaudu ORCID-tunnuksella"/>Kirjaudu ORCID-tunnuksella
            </button> 
        </a>
    </div>
</div>

<script type="text/javascript">
    $( document ).ready(function() {
        $('#connect-orcid-button').click(function(){
            busyIndicatorShow();
        });
    });
</script>

{% else %}

<div class="px-3 pb-md-2 mx-auto text-center">
    <h1>Valitse profiilin tiedot</h1>
</div>

<div class="accordion mb-5" id="researchProfileAccordion">
    <div class="card">
        <!-- Yhteystiedot -->
        <div class="card-header d-flex" id="heading1">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                Yhteystiedot
            </button>
            <span class="align-self-center ml-auto">
            </span>
        </div>
        <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#researchProfileAccordion">
            <div class="card-body">
                <div class="mx-5 my-3">
                    <table class="table" id="sectionContactInfo">
                        <thead class="thead-light">
                            <th></th>
                            <th class="w-50">
                                ORCID&nbsp;
                                <button onclick="toggleSectionAll('sectionContactInfo', 'orcid', true);"><i class="fas fa-plus" title="Lisää kaikki"></i></button>
                                <button onclick="toggleSectionAll('sectionContactInfo', 'orcid', false);"><i class="fas fa-minus" title="Poista kaikki"></i></button>
                            </th>
                            <th class="w-50">
                                Kotiorganisaatio&nbsp;
                                <button onclick="toggleSectionAll('sectionContactInfo', 'homeorg', true);"><i class="fas fa-plus" title="Lisää kaikki"></i></button>
                                <button onclick="toggleSectionAll('sectionContactInfo', 'homeorg', false);"><i class="fas fa-minus" title="Poista kaikki"></i></button>
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Sukunimi</th>
                                <td id="lastNameOrcid"
                                    class="td_orcid last_name {% if orcid_last_names.value %} togglable{% endif %} {% if orcid_last_names.includeInProfile %} included{% endif %}"
                                    {% if orcid_last_names.value %}onclick="toggleData('sectionContactInfo', 'orcid', 'last_name', this.id);"{% endif %}>
                                    {{ orcid_last_names.value | safe }}
                                </td>
                                <td id="lastNameHomeorg"
                                    class="td_homeorg last_name {% if homeorg_last_names.value %} togglable{% endif %} {% if homeorg_last_names.includeInProfile %} included{% endif %}"
                                    {% if homeorg_last_names.value %}onclick="toggleData('sectionContactInfo', 'homeorg', 'last_name', this.id);"{% endif %}>
                                    {{ homeorg_last_names.value | safe }}
                                </td>
                            </tr>

                            <tr>
                                <th>Etunimi</th>
                                <td id="firstNameOrcid"
                                    class="td_orcid first_name {% if orcid_first_names.value %} togglable{% endif %} {% if orcid_first_names.includeInProfile %} included{% endif %}"
                                    {% if orcid_first_names.value %}onclick="toggleData('sectionContactInfo', 'orcid', 'first_name', this.id);"{% endif %}>
                                    {{ orcid_first_names.value | safe }}
                                </td>
                                <td id="firstNameHomeorg"
                                    class="td_homeorg first_name {% if homeorg_first_names.value %} togglable{% endif %} {% if homeorg_first_names.includeInProfile %} included{% endif %}"
                                    {% if homeorg_first_names.value %}onclick="toggleData('sectionContactInfo', 'homeorg', 'first_name', this.id);"{% endif %}>
                                    {{ homeorg_first_names.value | safe }}
                                </td>
                            </tr>

                            <tr>
                                <th>Muut nimet</th>
                                <td id="otherNameOrcid"
                                    class="td_orcid other_name {% if orcid_other_names.value %} togglable{% endif %} {% if orcid_other_names.includeInProfile %} included{% endif %}"
                                    {% if orcid_other_names.value %}onclick="toggleData('sectionContactInfo', 'orcid', 'other_name', this.id);"{% endif %}>
                                    {{ orcid_other_names.value | safe }}
                                </td>
                                <td id="otherNameHomeorg"
                                    class="td_homeorg other_name {% if homeorg_other_names.value %} togglable{% endif %} {% if homeorg_other_names.includeInProfile %} included{% endif %}"
                                    {% if homeorg_other_names.value %}onclick="toggleData('sectionContactInfo', 'homeorg', 'other_name', this.id);"{% endif %}>
                                    {{ homeorg_other_names.value | safe }} 
                                </td>
                            </tr>

                            <tr>
                                <th>ORCID-tunniste</th>
                                <td id="orcidId"
                                    class="td_orcid orcid_id togglable {% if user.researchprofile.include_orcid_id_in_profile %} included{% endif %}"
                                    onclick="toggleData('sectionContactInfo', 'orcid', 'orcid_id', this.id);">
                                    <a href="https://orcid.org/{{ orcid_id }}" target="_blank">{{ orcid_id }}</a>
                                </td>
                                <td></td>
                            </tr>

                            <tr>
                                <th>Linkit</th>
                                <td id="linkOrcid" class="td_orcid link">
                                    {% for link in orcid_links %}
                                    <button id="link_{{ link.pk }}" 
                                            class="togglable btn btn-block btn-sm btn-outline-secondary {% if link.includeInProfile %}included{% endif %}"
                                            onclick="toggleData('sectionContactInfo', 'orcid', 'link', this.id, {{link.pk}});">
                                        {{ link.name }}
                                        <a href="{{ link.url }}" target="_blank">
                                            <i class="fas fa-external-link-alt float-right"></i>
                                        </a>
                                    </button>
                                    {% endfor %}
                                </td>
                                <td id="linkHomeorg" class="td_homeorg link">
                                    {% for link in homeorg_links %}
                                    <button id="link_{{ link.pk }}"
                                            class="togglable btn btn-block btn-sm btn-outline-secondary {% if link.includeInProfile %}included{% endif %}"
                                            onclick="toggleData('sectionContactInfo', 'homeorg', 'link', this.id, {{link.pk}});">
                                        {{ link.name }}
                                        <a href="{{ link.url }}" target="_blank">
                                            <i class="fas fa-external-link-alt float-right"></i>
                                        </a>
                                    </button>
                                    {% endfor %}
                                </td>
                            </tr>

                            <tr>
                                <th>Sähköpostiosoite</th>
                                <td id="emailOrcid"
                                    class="td_orcid email {% if orcid_emails.value %} togglable{% endif %} {% if orcid_emails.includeInProfile %} included{% endif %}"
                                    {% if orcid_emails.value %}onclick="toggleData('sectionContactInfo', 'orcid', 'email', this.id);"{% endif %}>
                                    {{ orcid_emails.value | safe }}
                                </td>
                                <td id="emailHomeorg"
                                    class="td_homeorg email {% if homeorg_emails.value %} togglable{% endif %} {% if homeorg_emails.includeInProfile %}included{% endif %}"
                                    {% if homeorg_emails.value %}onclick="toggleData('sectionContactInfo', 'homeorg', 'email', this.id);"{% endif %}>
                                    {{ homeorg_emails.value | safe }}
                                </td>
                            </tr>

                            <tr>
                                <th>Puhelinnumero</th>
                                <td id="phoneOrcid"
                                    class="td_orcid phone {% if orcid_phones.value %} togglable{% endif %}{% if orcid_phones.includeInProfile %} included{% endif %}"
                                    {% if orcid_phones.value %}onclick="toggleData('sectionContactInfo', 'orcid', 'phone', this.id);"{% endif %}>
                                    {{ orcid_phones.value | safe }}
                                </td>
                                <td id="phoneHomeorg"
                                    class="td_homeorg phone {% if homeorg_phones.value %} togglable{% endif %}{% if homeorg_phones.includeInProfile %} included{% endif %}"
                                    {% if homeorg_phones.value %}onclick="toggleData('sectionContactInfo', 'homeorg', 'phone', this.id);"{% endif %}>
                                    {{ homeorg_phones.value | safe }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <!-- Tutkimustoiminnan kuvaus -->
        <div class="card-header d-flex" id="heading2">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                Tutkimustoiminnan kuvaus
            </button>
            <span class="align-self-center ml-auto">
            </span>
        </div>
        <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#researchProfileAccordion">
            <div class="card-body">
                <div class="mx-5 my-3">
                    <table class="table" id="sectionDescription">
                        <thead class="thead-light">
                            <th></th>
                            <th class="w-50">
                                ORCID&nbsp;
                                <button onclick="toggleSectionAll('sectionDescription', 'orcid', true);"><i class="fas fa-plus" title="Lisää kaikki"></i></button>
                                <button onclick="toggleSectionAll('sectionDescription', 'orcid', false);"><i class="fas fa-minus" title="Poista kaikki"></i></button>
                            </th>
                            <th class="w-50">
                                Kotiorganisaatio&nbsp;
                                <button onclick="toggleSectionAll('sectionDescription', 'homeorg', true);"><i class="fas fa-plus" title="Lisää kaikki"></i></button>
                                <button onclick="toggleSectionAll('sectionDescription', 'homeorg', false);"><i class="fas fa-minus" title="Poista kaikki"></i></button>
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Kuvaus</th>
                                <td id="biographyOrcid"
                                    class="td_orcid biography {% if orcid_biography.value %} togglable{% endif %} {% if orcid_biography.includeInProfile %} included{% endif %}"
                                    {% if orcid_biography.value %}onclick="toggleData('sectionDescription', 'orcid', 'biography', this.id);"{% endif %}>
                                    {{ orcid_biography.value | safe }}</td>
                                <td id="biographyHomeorg"
                                    class="td_homeorg biography {% if homeorg_biography.value %} togglable{% endif %} {% if homeorg_biography.includeInProfile %} included{% endif %}"
                                    {% if homeorg_biography.value %}onclick="toggleData('sectionDescription', 'homeorg', 'biography', this.id);"{% endif %}>
                                    {{ homeorg_biography.value | safe }}</td>
                            </tr>
                            <tr>
                                <th>Tieteenalat</th>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <th>Avainsanat</th>

                                <td id="keywordOrcid" class="td_orcid keyword">
                                    {% for keyword in orcid_keywords %}
                                    <button id="keyword_{{ keyword.pk }}" 
                                            class="togglable btn btn-block btn-sm btn-outline-secondary {% if keyword.includeInProfile %}included{% endif %}"
                                            onclick="toggleData('sectionDescription', 'orcid', 'keyword', this.id, {{keyword.pk}});">
                                        {{ keyword.value }}
                                    </button>
                                    {% endfor %}
                                </td>
                                <td id="keywordHomeorg" class="td_homeorg keyword">
                                    {% for keyword in homeorg_keywords %}
                                    <button id="keyword_{{ keyword.pk }}" 
                                            class="togglable btn btn-block btn-sm btn-outline-secondary {% if keyword.includeInProfile %}included{% endif %}"
                                            onclick="toggleData('sectionDescription', 'homeorg', 'keyword', this.id, {{keyword.pk}});">
                                        {{ keyword.value }}
                                    </button>
                                    {% endfor %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <!-- Affiliaatio -->
        <div class="card-header d-flex" id="heading3">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                Affiliaatio
            </button>
            <span class="align-self-center ml-auto">
            </span>
        </div>
        <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#researchProfileAccordion">
            <div class="card-body">
                <div id="employments" class="mx-5">
                    {% if employments.count > 0 %}
                        {% for em in employments %}
                        <div class="p-3">
                            <strong>{{ em.organizationName }}</strong><br>
                            {% if em.departmentName %}<span>{{ em.departmentName }}</span><br>{% endif %}
                            {% if em.roleTitle %}<span>{{ em.roleTitle }}</span><br>{% endif %}
                            <span>{{ em.get_start_date_string }} - {{ em.get_end_date_string }}</span>
                        </div>
                        {% endfor %}
                    {% else %}
                        <div class="p-3">
                            -
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <!-- Koulutus -->
        <div class="card-header d-flex" id="heading4">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                Koulutus
            </button>
            <span class="align-self-center ml-auto">
            </span>
        </div>
        <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#researchProfileAccordion">
            <div class="card-body">
                <div id="educations" class="mx-5">
                    {% if educations.count > 0 %}
                        {% for ed in educations %}
                        <div class="p-3">
                            {% if ed.roleTitle %}<strong>{{ ed.roleTitle }}</strong><br>{% endif %}
                            <span>{{ ed.organizationName }}</span><br>
                            {% if ed.departmentName %}<span>{{ ed.departmentName }}</span><br>{% endif %}
                            <span>{{ ed.get_start_date_string }} - {{ ed.get_end_date_string }}</span>
                        </div>
                        {% endfor %}
                    {% else %}
                        <div class="p-3">
                            -
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <!-- Julkaisut -->
        <div class="card-header d-flex" id="headingPublications">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsePublications" aria-expanded="false" aria-controls="collapsePublications">
                Julkaisut
            </button>
            <span class="align-self-center ml-auto">
            </span>
        </div>
        <div id="collapsePublications" class="collapse" aria-labelledby="headingPublications" data-parent="#researchProfileAccordion">
            <div class="card-body">
                <ul class="nav nav-tabs" id="publicationTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pub-list-tab" data-toggle="tab" href="#pub-list-tab-content" role="tab" aria-controls="pub-list-tab-content" aria-selected="true">
                            Profiiliin liitetyt julkaisut
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pub-search-tab" data-toggle="tab" href="#pub-search-tab-content" role="tab" aria-controls="pub-search-tab-content" aria-selected="false">
                            Hae julkaisuja Tutkimustietovarannosta
                        </a>
                    </li>
                </ul>
                <div class="tab-content" id="publicationsTab">
                    
                    <!-- Profile publications -->
                    <div class="tab-pane fade show active" id="pub-list-tab-content" role="tabpanel" aria-labelledby="pub-list-tab">
                        <div class="p-5">

                            <div class="alert alert-info mb-5">
                                Listauksessa näytetään kaikki Tutkimustietovarannosta ORCID-tunnuksella löytyneet julkaisut ja 
                                ORCID:sta tuodut julkaisut. Valitse mitkä niistä liitetään profiiliisi. Voit lisätä julkaisuja Tutkimustietovarannosta
                                <a href="#pub-search-tab-content" onclick="$('#publicationTab li:last-child a').tab('show')">haku-toiminnolla.</a>
                            </div>

                            <table class="table table-hover table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col"><input id="toggleAllPublications" onclick="toggleAllPublications()" type="checkbox"></th>
                                        <th scope="col">Vuosi</th>
                                        <th scope="col">Nimi</th>
                                        <th scope="col">DOI</th>
                                        <th scope="col">TTV</th>
                                        <th scope="col">ORCID</th>
                                        <th scope="col">Oma</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody id="publicationTableBody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Tutkimustietovaranto search -->
                    <div class="tab-pane fade" id="pub-search-tab-content" role="tabpanel" aria-labelledby="pub-search-tab">
                        <div class="p-5">

                            <div class="alert alert-info mb-5">
                                Vapaa tekstihaku Tutkimustietovarannon julkaisuista. Tuloksia ei rajata ORCID-tunnuksen perusteella.
                            </div>

                            <form class="form" onsubmit="return false;">
                                <div class="form-row align-items-center">
                                    <div class="col-sm-10">
                                        <label class="sr-only" for="pubTtvSearchInput">Hakusana</label>
                                        <input id="pubTtvSearchInput" type="text" class="form-control mb-2" id="pubTtvSearchInput" placeholder="Hakusana" autocomplete="off">
                                    </div>
                                    <div class="col-sm-2">
                                        <button id="pubTtvSearchBtn" class="btn btn-block btn-primary mb-2">Hae</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="pubTtvSearchResult" class="px-5 pb-5">
                            <!-- Search results -->
                            <table id="pubTtvSearchResultTable" class="table table-hover table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">Vuosi</th>
                                        <th scope="col">Nimi</th>
                                        <th scope="col">DOI</th>
                                        <th scope="col">Tekijät</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody id="pubTtvSearchResultTableBody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <!-- Tutkimusaineistot -->
        <div class="card-header d-flex" id="heading6">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                Tutkimusaineistot
            </button>
            <span class="align-self-center ml-auto">
            </span>
        </div>
        <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#researchProfileAccordion">
            <div class="card-body">
                <div class="px-5">-</div>
            </div>
        </div>
    </div>
    <div class="card">
        <!-- Hankkeet -->
        <div class="card-header d-flex" id="heading7">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                Hankkeet
            </button>
            <span class="align-self-center ml-auto">
            </span>
        </div>
        <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#researchProfileAccordion">
            <div class="card-body">
                <div class="px-5">-</div>
            </div>
        </div>
    </div>
    <div class="card">
        <!-- Tutkimusinfrastruktuurit -->
        <div class="card-header d-flex" id="heading8">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                Tutkimusinfrastruktuurit
            </button>
            <span class="align-self-center ml-auto">
            </span>
        </div>
        <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#researchProfileAccordion">
            <div class="card-body">
                <div class="px-5">-</div>
            </div>
        </div>
    </div>
    <div class="card">
        <!-- Muut tutkimusaktiviteetit -->
        <div class="card-header d-flex" id="heading9">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                Muut tutkimusaktiviteetit
            </button>
            <span class="align-self-center ml-auto">
            </span>
        </div>
        <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#researchProfileAccordion">
            <div class="card-body">
                <div class="px-5">-</div>
            </div>
        </div>
    </div>

    <!-- Vertaisarviot -->
    <!--
    <div class="card">
        <div class="card-header d-flex" id="heading387dh3">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse387dh3" aria-expanded="false" aria-controls="collapse387dh3">
                Vertaisarviot
            </button>
            <span class="align-self-center ml-auto">
            </span>
        </div>
        <div id="collapse387dh3" class="collapse" aria-labelledby="heading387dh3" data-parent="#researchProfileAccordion">
            <div class="card-body">
                <div id="educations" class="mx-5">
                    {% if peer_reviews.count > 0 %}
                    {% for p in peer_reviews %}
                    <div class="p-3">
                        <span>{{ p.completionDate | date:"d.m.Y" }} {{ p.reviewerRole }} {{ p.reviewerUrl }} {{ p.reviewerType }}</span>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="p-3">
                        -
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    -->
    
    <!-- Kutsutut tehtävät -->
    <!--
    <div class="card">
        <div class="card-header d-flex" id="heading4234234">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse4234234" aria-expanded="false" aria-controls="collapse4234234">
                Kutsutut tehtävät
            </button>
            <span class="align-self-center ml-auto">
            </span>
        </div>
        <div id="collapse4234234" class="collapse" aria-labelledby="heading4234234" data-parent="#researchProfileAccordion">
            <div class="card-body">
                <div id="invited-positions" class="mx-5">
                    {% if invited_positions.count > 0 %}
                        {% for ip in invited_positions %}
                        <div class="p-3">
                            <strong>{{ ip.roleTitle }}</strong><br>
                            <span>{{ ip.startDate | date:"d.m.Y" }} - {{ ip.endDate | date:"d.m.Y" }}</span><br>
                            <span>{{ ip.organizationName }}, {{ ip.departmentName }}</span><br>
                        </div>
                        {% endfor %}
                    {% else %}
                        <div class="p-3">
                            -
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    -->
</div>

<script type="text/javascript">
    // Deliver TTV Api Host from Django into global JS variable.
    ttv_api_host = "{{ TTV_API_HOST }}";
</script>


{% endif %}
{% endblock content %}