{% extends "base.html" %}
{% load static %}
{% block content %}
{% if not user.is_authenticated %}

<!-- ORCID sign in-->

<div class="row mt-3">
    <div class="col">

        <div class="alert alert-primary" role="alert">
            Tutkimustietovarannon ORCID-integraation testisovellus.
        </div>

        <a href="{% url 'social:begin' 'orcid' %}?next={{ request.path }}">
            <button id="connect-orcid-button">
                <img id="orcid-id-icon"
                    src="https://orcid.org/sites/default/files/images/orcid_24x24.png"
                    width="24"
                    height="24"
                    alt="Kirjaudu ORCID-tunnuksella"/>Kirjaudu ORCID-tunnuksella
            </button> 
        </a>
    </div>
</div>

<script type="text/javascript">
    $( document ).ready(function() {
        $('#connect-orcid-button').click(function(){
            busyIndicatorShow();
        });
    });
</script>

{% else %}

<!-- JSON Viewer -->
<script src="{% static 'research/jquery.json-viewer.js' %}"></script>

<div class="px-3 pb-md-2 mx-auto text-center">
    <h1>Profiili</h1>
</div>

<div class="accordion mb-5" id="researchProfileAccordion">
    <div class="card">
        <!-- Yhteystiedot -->
        <div class="card-header d-flex" id="heading1">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                Yhteystiedot
            </button>
            <span class="align-self-center ml-auto">
            </span>
        </div>
        <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#researchProfileAccordion">
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">Sukunimi</dt><dd class="col-sm-9">{{ request.user.last_name }}</dd>
                    <dt class="col-sm-3">Etunimi</dt><dd class="col-sm-9">{{ request.user.first_name }}</dd>
                    <dt class="col-sm-3">Muut nimet</dt><dd class="col-sm-9">{{ request.user.researchprofile.person_other_names | default:"-" }}</dd>
                    <dt class="col-sm-3">ORCID-tunniste</dt><dd class="col-sm-9"><a href="https://orcid.org/{{ request.user.username }}" target="_blank">{{ request.user.username }}</a></dd>
                    <dt class="col-sm-3">Muut tunnisteet</dt><dd class="col-sm-9">{{ request.user.researchprofile.person_external_identifiers | default:"-" | safe }}</dd>
                    <dt class="col-sm-3">Sähköpostiosoite</dt><dd class="col-sm-9">{{ request.user.researchprofile.person_emails | default:"-" }}</dd>
                    <dt class="col-sm-3">Verkko-osoite</dt><dd class="col-sm-9">{{ request.user.researchprofile.person_researcher_urls | default:"-" | safe }}</dd>
                    <dt class="col-sm-3">Puhelinnumero</dt><dd class="col-sm-9">-</dd>
                    <dt class="col-sm-3">Sometilit / URL</dt><dd class="col-sm-9">-</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="card">
        <!-- Tutkimustoiminnan kuvaus -->
        <div class="card-header d-flex" id="heading2">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                Tutkimustoiminnan kuvaus
            </button>
            <span class="align-self-center ml-auto">
            </span>
        </div>
        <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#researchProfileAccordion">
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">Kuvaus</dt><dd class="col-sm-9">{{ request.user.researchprofile.person_biography | default:"-" }}</dd>
                    <dt class="col-sm-3">Tieteenalat</dt></dt><dd class="col-sm-9">-</dd>
                    <dt class="col-sm-3">Avainsanat</dt><dd class="col-sm-9">{{ request.user.researchprofile.person_keywords | default:"-" }}</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="card">
        <!-- Affiliaatio -->
        <div class="card-header d-flex" id="heading3">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                Affiliaatio
            </button>
            <span class="align-self-center ml-auto">
            </span>
        </div>
        <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#researchProfileAccordion">
            <div class="card-body">
                <div id="employments" class="mx-5">
                    {% if employments.count > 0 %}
                        {% for em in employments %}
                        <div class="p-3">
                            <strong>{{ em.organizationName }}</strong><br>
                            {% if em.departmentName %}<span>{{ em.departmentName }}</span><br>{% endif %}
                            {% if em.roleTitle %}<span>{{ em.roleTitle }}</span><br>{% endif %}
                            <span>{{ em.get_start_date_string }} - {{ em.get_end_date_string }}</span>
                        </div>
                        {% endfor %}
                    {% else %}
                        <div class="p-3">
                            -
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <!-- Koulutus -->
        <div class="card-header d-flex" id="heading4">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                Koulutus
            </button>
            <span class="align-self-center ml-auto">
            </span>
        </div>
        <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#researchProfileAccordion">
            <div class="card-body">
                <div id="educations" class="mx-5">
                    {% if educations.count > 0 %}
                        {% for ed in educations %}
                        <div class="p-3">
                            {% if ed.roleTitle %}<strong>{{ ed.roleTitle }}</strong><br>{% endif %}
                            <span>{{ ed.organizationName }}</span><br>
                            {% if ed.departmentName %}<span>{{ ed.departmentName }}</span><br>{% endif %}
                            <span>{{ ed.get_start_date_string }} - {{ ed.get_end_date_string }}</span>
                        </div>
                        {% endfor %}
                    {% else %}
                        <div class="p-3">
                            -
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <!-- Julkaisut -->
        <div class="card-header d-flex" id="headingPublications">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsePublications" aria-expanded="false" aria-controls="collapsePublications">
                Julkaisut
            </button>
            <span class="align-self-center ml-auto">
            </span>
        </div>
        <div id="collapsePublications" class="collapse" aria-labelledby="headingPublications" data-parent="#researchProfileAccordion">
            <div class="card-body">
                <ul class="nav nav-tabs" id="publicationTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pub-list-tab" data-toggle="tab" href="#pub-list-tab-content" role="tab" aria-controls="pub-list-tab-content" aria-selected="true">
                            Profiiliin liitetyt julkaisut
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pub-search-tab" data-toggle="tab" href="#pub-search-tab-content" role="tab" aria-controls="pub-search-tab-content" aria-selected="false">
                            Hae julkaisuja Tutkimustietovarannosta
                        </a>
                    </li>
                </ul>
                <div class="tab-content" id="publicationsTab">
                    
                    <!-- Profile publications -->
                    <div class="tab-pane fade show active" id="pub-list-tab-content" role="tabpanel" aria-labelledby="pub-list-tab">
                        <div class="p-5">

                            <div class="alert alert-info mb-5">
                                Listauksessa näytetään kaikki Tutkimustietovarannosta ORCID-tunnuksella löytyneet julkaisut ja 
                                ORCID:sta tuodut julkaisut. Valitse mitkä niistä liitetään profiiliisi. Voit lisätä julkaisuja Tutkimustietovarannosta
                                <a href="#pub-search-tab-content" onclick="$('#publicationTab li:last-child a').tab('show')">haku-toiminnolla.</a>
                            </div>

                            <table class="table table-hover table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col"><input onclick="toggleAllPublications()" type="checkbox"></th>
                                        <th scope="col">Vuosi</th>
                                        <th scope="col">Nimi</th>
                                        <th scope="col">DOI</th>
                                        <th scope="col">TTV</th>
                                        <th scope="col">ORCID</th>
                                        <th scope="col">Oma</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody id="publicationTableBody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Tutkimustietovaranto search -->
                    <div class="tab-pane fade" id="pub-search-tab-content" role="tabpanel" aria-labelledby="pub-search-tab">
                        <div class="p-5">

                            <div class="alert alert-info mb-5">
                                Vapaa tekstihaku Tutkimustietovarannon julkaisuista. Tuloksia ei rajata ORCID-tunnuksen perusteella.
                            </div>

                            <form class="form" onsubmit="return false;">
                                <div class="form-row align-items-center">
                                    <div class="col-sm-10">
                                        <label class="sr-only" for="pubTtvSearchInput">Hakusana</label>
                                        <input id="pubTtvSearchInput" type="text" class="form-control mb-2" id="pubTtvSearchInput" placeholder="Hakusana" autocomplete="off">
                                    </div>
                                    <div class="col-sm-2">
                                        <button id="pubTtvSearchBtn" class="btn btn-block btn-primary mb-2">Hae</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="pubTtvSearchResult" class="px-5 pb-5">
                            <!-- Search results -->
                            <table id="pubTtvSearchResultTable" class="table table-hover table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">Vuosi</th>
                                        <th scope="col">Nimi</th>
                                        <th scope="col">DOI</th>
                                        <th scope="col">Tekijät</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody id="pubTtvSearchResultTableBody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <!-- Tutkimusaineistot -->
        <div class="card-header d-flex" id="heading6">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                Tutkimusaineistot
            </button>
            <span class="align-self-center ml-auto">
            </span>
        </div>
        <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#researchProfileAccordion">
            <div class="card-body">
                -
            </div>
        </div>
    </div>
    <div class="card">
        <!-- Hankkeet -->
        <div class="card-header d-flex" id="heading7">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                Hankkeet
            </button>
            <span class="align-self-center ml-auto">
            </span>
        </div>
        <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#researchProfileAccordion">
            <div class="card-body">
                <pre class="orcid-json" id="json-renderer-fundings"></pre>
            </div>
        </div>
    </div>
    <div class="card">
        <!-- Tutkimusinfrastruktuurit -->
        <div class="card-header d-flex" id="heading8">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                Tutkimusinfrastruktuurit
            </button>
            <span class="align-self-center ml-auto">
            </span>
        </div>
        <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#researchProfileAccordion">
            <div class="card-body">
                -
            </div>
        </div>
    </div>
    <div class="card">
        <!-- Muut tutkimusaktiviteetit -->
        <div class="card-header d-flex" id="heading9">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                Muut tutkimusaktiviteetit
            </button>
            <span class="align-self-center ml-auto">
            </span>
        </div>
        <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#researchProfileAccordion">
            <div class="card-body">
                -
            </div>
        </div>
    </div>

    <!-- Vertaisarviot -->
    <!--
    <div class="card">
        <div class="card-header d-flex" id="heading387dh3">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse387dh3" aria-expanded="false" aria-controls="collapse387dh3">
                Vertaisarviot
            </button>
            <span class="align-self-center ml-auto">
            </span>
        </div>
        <div id="collapse387dh3" class="collapse" aria-labelledby="heading387dh3" data-parent="#researchProfileAccordion">
            <div class="card-body">
                <div id="educations" class="mx-5">
                    {% if peer_reviews.count > 0 %}
                    {% for p in peer_reviews %}
                    <div class="p-3">
                        <span>{{ p.completionDate | date:"d.m.Y" }} {{ p.reviewerRole }} {{ p.reviewerUrl }} {{ p.reviewerType }}</span>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="p-3">
                        -
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    -->
    
    <!-- Kutsutut tehtävät -->
    <!--
    <div class="card">
        <div class="card-header d-flex" id="heading4234234">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse4234234" aria-expanded="false" aria-controls="collapse4234234">
                Kutsutut tehtävät
            </button>
            <span class="align-self-center ml-auto">
            </span>
        </div>
        <div id="collapse4234234" class="collapse" aria-labelledby="heading4234234" data-parent="#researchProfileAccordion">
            <div class="card-body">
                <div id="invited-positions" class="mx-5">
                    {% if invited_positions.count > 0 %}
                        {% for ip in invited_positions %}
                        <div class="p-3">
                            <strong>{{ ip.roleTitle }}</strong><br>
                            <span>{{ ip.startDate | date:"d.m.Y" }} - {{ ip.endDate | date:"d.m.Y" }}</span><br>
                            <span>{{ ip.organizationName }}, {{ ip.departmentName }}</span><br>
                        </div>
                        {% endfor %}
                    {% else %}
                        <div class="p-3">
                            -
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    -->
</div>

<script type="text/javascript">
    // TTV publication search results
    var publicationSearchResults = [];

    var includeAllPublications = false;

    // Show busy indicator
    function busyIndicatorShow() {
        $('#overlay').show();
    }

    // Hide busy indicator
    function busyIndicatorHide() {
        $('#overlay').hide();
    }

    // Get publications
    function getPublications() {
        $.ajax({
            type: 'POST',
            url: '{% url "publication_list" %}',
            data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
            beforeSend: function () {
                $('#publicationTableBody').html('');
            },
            success: function(response) {
                response.publications.forEach(function(p) {
                    var checked = p.includeInProfile ? "checked" : "";
                    var datasourceIcon = '<i class="fas fa-check"></i>';
                    var datasource_ttv_value = (p.datasource_id === 1 ? datasourceIcon : '');
                    var datasource_orcid_value = (p.datasource_id === 2 ? datasourceIcon: '');
                    var datasource_manual_value = (p.datasource_id === 3 ? datasourceIcon: '');
                    var doi = p.doi && p.doi !== null ? p.doi : '';
                    var publicationElementHtml =
                        '<tr id="publication_' + p.id + '">' +
                        '<td><input class="publicationIncludeCheckbox" type="checkbox" style="cursor: pointer;" ' + checked + ' onclick="includePublication(' + p.id + ',' + p.includeInProfile +')"></td>' +
                        '<td>' + (p.publicationYear !== null ? p.publicationYear : '-') + '</td>' +
                        '<td>' + p.name + '</td>' +
                        '<td><a href="https://doi.org/' + doi +'" target="_blank">' + doi + '</a></td>' +
                        '<td>' + datasource_ttv_value + '</td>' +
                        '<td>' + datasource_orcid_value + '</td>' +
                        '<td>' + datasource_manual_value + '</td>';

                        if (p.datasource_id === 3 ) {
                            publicationElementHtml += '<td><i class="far fa-trash-alt" onclick="deletePublication(' + p.id + ')" style="color:#f00;cursor:pointer;"></i></td>';
                        }
                        else {
                            publicationElementHtml += '<td></td>';
                        }
                        publicationElementHtml += '</tr>';
                    $('#publicationTableBody').append(publicationElementHtml);
                });
            },
            dataType: 'json'
        }).done(function() {
        });
    };

    // Add publication into research profile
    function addPublication(index) {
        busyIndicatorShow();

        var publication = {
            authorsText: publicationSearchResults[index]._source.authorsText,
            publicationName: publicationSearchResults[index]._source.publicationName,
            publicationYear: publicationSearchResults[index]._source.publicationYear,
            doi: publicationSearchResults[index]._source.doi
        };
        console.log("ADD PUB", publication);

        $.ajax({
            type: 'POST',
            url: '{% url "publication_add" %}',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                publication: JSON.stringify(publication)
            },
            success: function() {
                console.log("publication added");
                $('#publicationSearchRow_' + index).remove();
            },
            dataType: 'json'
        }).done(function() {
            busyIndicatorHide();
        });
    };

    // Delete publication from research profile
    function deletePublication(publicationId) {
        busyIndicatorShow();

        $.ajax({
            type: 'POST',
            url: '{% url "publication_delete" %}',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                publicationId: publicationId
            },
            success: function() {
                console.log("publication deleted");
                $('#publication_' + publicationId).remove();
            },
            dataType: 'json'
        }).done(function() {
            busyIndicatorHide();
        });
    };

    // Include/exclude publication from research profile
    function includePublication(publicationId, oldValue) {
        busyIndicatorShow();

        var include = !oldValue;
        $.ajax({
            type: 'POST',
            url: '{% url "publication_include" %}',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                publicationId: publicationId,
                include: include
            },
            success: function() {
                console.log("publication include status changed");
            },
            dataType: 'json'
        }).done(function() {
            console.log("DONE");
            busyIndicatorHide();
        });
    };

    // Toggle all publications
    function toggleAllPublications() {
        includeAllPublications = !includeAllPublications;

        busyIndicatorShow();

        $.ajax({
            type: 'POST',
            url: '{% url "publication_include_all" %}',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                include: includeAllPublications
            },
            success: function() {
                console.log("all publication include status changed");
                $('.publicationIncludeCheckbox').prop('checked', includeAllPublications);
            },
            dataType: 'json'
        }).done(function() {
            console.log("DONE");
            busyIndicatorHide();
        });

    }

    $( document ).ready(function() {
        $('#saveChangesBtn').click(function(){
            busyIndicatorShow();
        });

        $('#deleteProfileBtn').click(function(){
            busyIndicatorShow();
        });

        //try {
        //    $('#json-renderer-fundings').jsonViewer({{ request.user.researchprofile.activity_fundings | safe }});
        //} catch (err) { console.error("jsonViewer activity_fundings", err); }


        $('#collapsePublications').on('show.bs.collapse', function (e) {
            getPublications();
        });

        $('#publicationTab').on('show.bs.tab', function (e) {
            if (e.target.id === 'pub-list-tab') {
                getPublications();
            }
        });



        $('#pubTtvSearchBtn').click(function(){
            // Show indicator
            busyIndicatorShow();

            // Clear old results
            $('#pubTtvSearchResultTableBody').html('');

            // New query
            var query = $('#pubTtvSearchInput').val();
            var search_url = '{{TTV_API_HOST}}/portalapi/publication/_search?size=20&q=' + query;
            $.ajax({
                url: search_url,
                success: function(result) {
                    console.log("Search result", result);

                    try {
                        if (result.hits.hits.length > 0) {
                            publicationSearchResults = result.hits.hits;
                            result.hits.hits.forEach(function (publication, index) {
                                var authorsText = publication._source.authorsText;
                                var publicationName = publication._source.publicationName;
                                var publicationYear = publication._source.publicationYear;
                                var doi = publication._source.doi;
                                /*
                                var publicationElementHtml = 
                                    '<div class="form-check mb-2"><input class="form-check-input" type="checkbox">' +
                                    '<label class="form-check-label small"><strong>' + publicationName + '</strong><br>' + 
                                    publicationYear + ' - ' + authorsText  + '</label></div>';

                                $('#pubTtvSearchResult').append(publicationElementHtml);
                                */

                                var publicationElementHtml =
                                    '<tr id="publicationSearchRow_' + index + '">' +
                                    '<td>' + publicationYear + '</td>' +
                                    '<td>' + publicationName + '</td>' +
                                    '<td><a href="https://doi.org/' + doi +'" target="_blank">' + doi + '</a></td>' +
                                    '<td>' + authorsText + '</td>' +
                                    //'<td><button onclick="addPublication(' + index + ')">+</button></td>' +
                                    '<td><i class="fas fa-plus-circle" onclick="addPublication(' + index + ')" style="color:#0a0; cursor:pointer;"></i></td>' +
                                    '</tr>';

                                $('#pubTtvSearchResultTableBody').append(publicationElementHtml);
                            });
                        } else {
                            publicationSearchResults = [];
                            var publicationElementHtml = '<tr><td colspan="5"><i>Ei hakutuloksia</i></td></tr>';
                            $('#pubTtvSearchResultTableBody').append(publicationElementHtml);
                        }
                    } catch (err) { console.error("TTV search result", err); }
                },
                complete: function() {
                    // Hide indicator
                    busyIndicatorHide();
                }
            });
        });
    });
</script>


{% endif %}
{% endblock content %}