body {
    background-color: #eee;
}

#main-content {
    background-color: #fff;
}

#connect-orcid-button{
    border: 1px solid #D3D3D3;
    padding: .3em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 1px 1px 3px #999;
    cursor: pointer;
    color: #999;
    font-weight: bold;
    font-size: .8em;
    line-height: 24px;
    vertical-align: middle;
}

#connect-orcid-button:hover{
    border: 1px solid #338caf;
    color: #338caf;
}

#orcid-id-icon{
    display: block;
    margin: 0 .5em 0 0;
    padding: 0;
    float: left;
}

#overlay {
    background: #ffffff;
    color: #666666;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 25%;
    opacity: .80;
}
.spinner {
    margin: 0 auto;
    height: 64px;
    width: 64px;
    animation: rotate 0.8s infinite linear;
    border: 5px solid firebrick;
    border-right-color: transparent;
    border-radius: 50%;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

button.btn-included {
    background-color: #afa;
    border: 1px solid black;
}

button.btn-included:hover {
    opacity: 0.8;
}

button.btn-excluded {
    background-color: #fee;
    border: 1px solid black;
}

button.btn-excluded:hover {
    opacity: 0.8;
}

button.primary {
    background-color: yellow;
}

td.togglable {
    cursor: pointer;
}

td.togglable:hover {
    border: 1px solid gray;
}

.included {
    background-color: #afa;
}

.preview_section {
    margin-bottom: 50px;
}

.preview_section_content {
    padding-left: 30px;
}